/* Large Devices, Wide Screens */
@media only screen and (max-width: 1450px) {
  .header {
    background-position-x: 0px; }
  .header-h1 {
    font-size: 32px;
    line-height: 36px; } }

@media only screen and (max-width: 1024px) {
  .acustic .menu-icons {
    margin-bottom: 100px; }
  .acustic .teachers img {
    margin-top: 50px; }
  .acustic .footer {
    background-position-x: -100px; } }

@media only screen and (max-width: 1199px) {
  .header-h1 {
    font-size: 28px;
    line-height: 32px; } }

@media only screen and (max-width: 991px) {
  .header-h1 {
    font-size: 22px;
    line-height: 32px; } }

@media only screen and (max-width: 1200px) {
  .footer .header--form input {
    width: 90%; }
  .top-header .nav li a {
    font-size: 15px; }
  .phone-icon img {
    width: 60%; }
  .block-3__lessons > div:nth-child(3) .block-3__lessons__title:after {
    content: none; }
  .block-3__lessons__title {
    font-size: 30px; }
  .block-3__lessons__info {
    width: 256px;
    margin: 0 auto;
    font-size: 18px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
  .fixed {
    position: static; }
  #myModal .modal-dialog {
    width: 95%;
    margin: 0 auto;
    margin-top: 50px; }
  #myModal .modal-content {
    background: url("../img/modal-bg-rep.jpg");
    height: auto;
    padding-bottom: 50px;
    background-position-x: -150px; }
  .top-header {
    padding-top: 20px; }
    .top-header .logo {
      float: left; }
  .top-header__phone {
    text-align: center;
    margin-bottom: 25px;
    font-size: 18px;
    color: #606060; }
  .header {
    margin-bottom: 100px; }
  .block-2__h2, .block-4__h2 {
    font-size: 26px;
    line-height: 0; }
  .block-2__feature___item img {
    left: 300px; }
  .block-3 {
    background-position-x: -270px; }
  .block-3__video .block-3__h2 {
    font-size: 32px; }
  .block-3__video__title {
    font-size: 24px; }
  .block-4 {
    margin-bottom: 50px; }
  .block-5 {
    padding-bottom: 100px;
    background-position: center center; }
  .block-6 {
    margin: 0;
    padding: 0; }
  .block-6__h2 {
    margin-bottom: 50px; }
  .teachers img {
    margin: 0 auto;
    margin-bottom: 20px; }
  .block-6__name, .block-6__position, .block-6__info {
    text-align: center; }
  .block-7 img {
    display: block;
    margin: 0 auto;
    margin-bottom: 50px; }
  .review-author {
    text-align: center; }
  .reviews > div {
    margin-bottom: 50px; }
  .reviews button {
    display: block;
    margin: 0 auto; }
  .footer .social {
    margin-top: 50px; }
    .footer .social li {
      display: inline-block;
      margin-right: 10px; }
  .vocal .footer {
    padding-bottom: 0; } }

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-collapse.collapse {
    display: none !important; }
    .navbar-collapse.collapse.in {
      display: block !important; }
  .navbar-header .collapse, .navbar-toggle {
    display: block !important; }
  .navbar-header {
    float: none; }
  .top-header__phone {
    float: left;
    margin: 0;
    margin-top: -15px;
    margin-bottom: 15px; }
  .top-header .navbar-toggle {
    margin-top: 20px; }
  .navbar-nav {
    float: none;
    margin-bottom: 40px; }
    .navbar-nav > li {
      float: none; }
      .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .block-3__video .block-3__h2 {
    margin-bottom: 25px; }
  .top-header {
    display: block; }
  .children .header {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0; }
  .phone-icon {
    display: none; }
  .block-2 {
    padding-bottom: 200px; }
  .block-3__gallery {
    margin-bottom: 0; }
  .block-3__video .col-sm-6 {
    width: 100%; }
    .block-3__video .col-sm-6 .block-3__video__title {
      margin: 20px 0; }
    .block-3__video .col-sm-6 img {
      display: block;
      margin: 0 auto; }
  .block-6__name, .block-6__position, .block-6__info {
    text-align: left; }
  .acustic .header {
    min-height: auto; }
  .header-h1 {
    font-size: 22px;
    line-height: 28px; }
  .header-h2 {
    font-size: 16px;
    line-height: 26px; }
  .electro .block-2 {
    background-position-y: 500px; }
  .block-3 {
    -ms-background-position-x: -50px;
    background-position-x: -50px; }
  .block-3__gallery .row > div:last-child {
    margin-bottom: 0; }
  .block-3__lessons > div {
    margin-bottom: 80px; }
  .block-3__lessons__title {
    font-size: 26px; }
  .block-3__lessons__info {
    font-size: 14px;
    width: auto; }
  .price .price-item {
    width: auto; }
  .price-item__note {
    max-width: 100%; }
  .teachers {
    padding: 0; }
  .acustic .footer {
    background-position-x: -360px; }
  .acustic .teachers img {
    margin-top: 80px; }
  .acustic .footer .header--form input {
    width: 50%; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 767px) {
  .price .price-item {
    width: 416px; }
  .top-header .logo {
    display: inline;
    float: left; }
  .top-header__phone {
    font-size: 26px; }
    .top-header__phone a {
      color: #000; }
  .navbar-header {
    margin-top: 30px; }
  .phone-icon {
    right: -60px; }
  .block-2__feature {
    margin-bottom: 30px; }
  .block-3__gallery {
    margin-bottom: 30px; }
  .footer {
    padding-left: 50px; }
  .block-3__lessons__title {
    position: relative; }
    .block-3__lessons__title:after {
      width: 15%; }
    .block-3__lessons__title:before {
      content: ' ';
      display: block;
      position: absolute;
      height: 1px;
      background: #b8b8b8;
      top: 26px;
      left: -17px;
      width: 15%; }
  .block-3__lessons > div:nth-child(3) .block-3__lessons__title:after, .block-3__lessons > div:last-child .block-3__lessons__title:after {
    content: ' '; }
  .block-3__gallery img {
    display: block;
    margin: 0 auto; }
  .block-6__name, .block-6__position, .block-6__info {
    text-align: center; }
  .block-5 {
    background: none; }
  .carousel {
    display: block; }
  .reviews__all, .all_video {
    display: none; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 640px) {
  .price-item__note {
    max-width: 100%; }
  .phone-icon {
    top: auto;
    bottom: 20px;
    left: 20px; }
    .phone-icon img {
      width: 20%; }
  .header {
    background-size: cover;
    background-position-y: -70px;
    background-position-x: -50px;
    margin-bottom: 0; }
  .menu-icons {
    margin-bottom: 80px; }
  .header-h1 {
    font-size: 22px;
    line-height: 24px; }
  .header-h2 {
    font-size: 18px;
    line-height: 24px; }
  .header--form input {
    width: 90%; }
  .header--form__btn {
    display: block;
    margin: 0 auto; }
  .block-2__h2, .block-4__h2, .block-3__h2, .block-5__h2, .block-6__h2 {
    font-size: 32px;
    line-height: 36px; }
  .block-2 {
    padding-bottom: 70px; }
  .block-3 {
    margin-bottom: 50px; }
  .block-3__lessons > div {
    margin-bottom: 40px; }
  .block-3__video__title {
    font-size: 28px;
    line-height: 36px;
    padding: 0;
    margin: 40px 0; }
  .block-4__video__info {
    margin-bottom: 20px; }
  .block-5__h2 {
    margin-bottom: 20px; }
  .price .price-item {
    width: 98%; }
  .footer p {
    font-size: 14px; }
  .block-2__feature img {
    max-width: 100%; }
  .price .price-item {
    width: 68%; }
  .block-2 .col-xs-3 {
    width: 100%; }
  .block-2__feature__info__title {
    text-align: center; }
  .block-2__h2, .block-4__h2, .block-3__h2, .block-5__h2, .block-6__h2 {
    font-size: 24px;
    font-weight: 700; }
  .block-3__lessons__title {
    font-size: 22px; }
  .block-3__video__title {
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 30px;
    margin-top: 50px; }
  .block-6__name, .block-6__position, .block-6__info {
    text-align: left; }
  .block-7 h2 {
    font-size: 24px;
    font-weight: 700; }
  .footer .header--form .footer-btn {
    text-align: center;
    display: block;
    margin: 0 auto; }
  .reviews > div {
    margin-bottom: 0; }
  .navbar-toggle {
    margin-right: -15px; }
  .navbar-nav {
    margin-bottom: 25px; }
  .top-header__phone {
    float: left;
    margin-top: -15px; }
    .top-header__phone a {
      font-size: 18px;
      color: #606060; }
  .menu-icons a {
    margin-right: 33px; }
  .electro .block-2 {
    -ms-background-position-y: 750px;
    background-position-y: 750px; } }

@media only screen and (max-width: 425px) {
  .price .price-item {
    width: 98%; }
  .carousel-inner > .item > a > img, .carousel-inner > .item > img {
    display: block;
    margin: 0 auto; }
  .menu-icons {
    width: 285px;
    margin: 0 auto;
    margin-bottom: 80px; }
  .block-2__feature p.info {
    font-size: 14px;
    line-height: 16px; }
  .header {
    margin-bottom: 30px; }
  .block-2__feature___item img {
    left: 15px; }
  .price-item__title {
    font-size: 26px; }
  .footer {
    padding: 0;
    background-position-x: -255px; }
    .footer .social {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
  .review-text {
    font-size: 14px; }
  .block-3__gallery {
    width: 100%;
    height: auto; }
  .footer p {
    font-size: 13px; }
  #myModal .modal-h4 {
    font-size: 22px;
    line-height: 26px; }
  .header-h2 {
    margin-bottom: 400px; }
  .header {
    background: url("../img/acustic/bg-320.jpg") no-repeat;
    background-position: top center; }
  .block-2 {
    background: url("../img/acustic/bl2-bg-320.jpg") no-repeat;
    background-position: 0 2440px;
    padding-bottom: 250px; }
  .block-7 {
    margin-bottom: 50px; }
  .footer h2 {
    font-size: 24px;
    line-height: 59px;
    font-weight: 700;
    text-align: center; }
  .footer p {
    color: #5b5c5a;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-bottom: 10px; }
  .footer .social {
    border: none; }
  .top-header__phone a {
    font-size: 24px; }
  .navbar-toggle {
    margin-top: -15px; }
  .price-item__note {
    padding: 0; }
  .price .price-item {
    height: auto;
    padding: 40px 0; }
  .acustic .header-h2 {
    margin-bottom: 495px; }
  .acustic .footer {
    background-position-x: -700px; }
    .acustic .footer .social {
      padding-left: 0; }
  .acustic .block-3 {
    padding-bottom: 100px; }
  .children .header {
    background: url("../img/children/bg-320.jpg") no-repeat; }
  .vocal .header {
    background: url("../img/vocal/bg-320.jpg") no-repeat; }
  .vocal .header-h1 {
    line-height: 20px; }
  .vocal .header-h2 {
    margin-bottom: 430px; }
  .electro .header {
    background: url("../img/electro/bg-320.jpg") no-repeat;
    margin-bottom: 20px;
    padding-bottom: 0; }
  .electro .footer {
    padding-bottom: 0; } }

@media only screen and (max-width: 375px) {
  .acustic .block-2 {
    background-position-y: 2540px; }
  .acustic .header-h2 {
    margin-bottom: 470px; } }

@media only screen and (max-width: 320px) {
  .acustic .block-2 {
    background-position: bottom center; }
  .acustic .footer {
    background-position-x: -800px; }
  .acustic .header-h2 {
    margin-bottom: 425px; } }
