@import url("fonts.css");

html,body
  overflow-x: hidden
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
.container
  //border: 1px solid red
h2
  color: #5b5c5a
  font-family: "Minion Pro", sans-serif
  font-size: 50px
  font-weight: 400
  line-height: 100px
  text-transform: uppercase
  text-align: center
.fixed
  width: 100%
  position: fixed
  z-index: 999
  border-bottom: 1px solid #ccc
.top-header
  min-height: 79px
  background-color: #ededed
  display: flex
  align-items: center
  justify-content: space-between
  .nav li a
    font-family: "Minion Pro", sans-serif
    font-size: 17px
    font-weight: 400
    text-transform: uppercase
    color: #000000
    padding-bottom: 0
    &:hover:after
      content: ""
      position: absolute
      left: 0
      bottom: -3px
      right: 0
      margin: auto
      background: #000
      width: 57px
      height: 2px
  .navbar-toggle
    background: url("../img/hamburger.png") no-repeat
    border: none
    cursor: pointer
.top-header__phone
  color: #606060
  font-family: "Minion Pro", sans-serif
  font-size: 18px
  font-weight: 400
  text-transform: uppercase
  margin: 0
  margin-top: 12px
  span
    cursor: pointer
.phone-icon
  position: fixed
  top: 160px
  right: 0px
  cursor: pointer
  z-index: 99999
  img
    width: 80%
.header
  background: url("../img/acustic/header-bg.jpg") no-repeat
  background-size: contain
  min-height: 100vh
  background-position: center -2px
.menu-icons
  margin-bottom: 170px
  a
    position: relative
    color: #000000
    font-family: "Minion Pro", sans-serif
    font-size: 17px
    font-weight: 400
    line-height: 59px
    text-transform: uppercase
    margin-right: 10px
  span
    position: absolute
    left: 0px
    top: 60px
  .menu-icons__2
    left: 9px
  .menu-icons__3
    left: 14px
.header-h1
  font-family: "Minion Pro", sans-serif
  font-size: 38px
  font-weight: 700
  line-height: 60px
  text-transform: uppercase
  color: #1e1e1e
.header-h2
  color: #1e1e1e
  font-family: 'Open Sans', sans-serif
  font-size: 19px
  font-weight: 400
  line-height: 36px
  margin-bottom: 40px
  text-align: left
  text-transform: inherit
.header--form
  padding: 0
  input
    display: inline-block
    width: 40%
    border: none
    border-bottom: 1px solid #000
    background: transparent
    height: 40px
    margin-right: 40px
    color: #000
    font-size: 18px
    margin-bottom: 60px
    outline: none
    &::-webkit-input-placeholder
      color: #000
.header--form__btn
  color: #000
  font-family: "Open Sans", sans-serif
  font-size: 16px
  font-weight: 700
  line-height: 24px
  text-transform: uppercase
  background: url("../img/sw-sam-ciurdar-2.jpg")
  width: 228px
  height: 53px
  border: none

.phone-icon
  width: 187px

//BLOCK-2
.block-2
  background: url("../img/bl2-bg.jpg") no-repeat
  background-size: contain
  background-position: bottom center
  padding-bottom: 550px
  margin-bottom: 50px
.block-2__h2
  color: #5b5c5a
  font-family: "Minion Pro", sans-serif
  font-size: 50px
  font-weight: 400
  line-height: 59px
  text-align: center
  text-transform: uppercase
  margin-bottom: 80px

.block-2__feature
  text-align: center
  min-height: 300px
  margin-bottom: 120px
  img
    display: block
    margin: 0 auto
    margin-bottom: 30px
    height: 140px
  p
    color: #575a59
    font-family: "Minion Pro", sans-serif
    text-transform: uppercase
    line-height: 45px
    margin: 0
    padding: 0
  p.count
    font-size: 50px
    font-weight: 700
    margin-bottom: 10px
  p.info
    font-size: 17px
    font-weight: 400
    line-height: 32px
.block-2__feature___item
  margin-bottom: 40px
  ul li
    color: #5a5a58
    font-family: "Open Sans", sans-serif
    font-size: 19px
    font-weight: 400
    line-height: 26px
  img
    position: absolute
    left: 160px
  hr
    border-color: #000
    margin-top: -5px
#block-2-fimg1
  top: -35px
#block-2-fimg2
  top: -35px
#block-2-fimg3
  top: 0
#block-2-fimg4
  top: -20px
.block-2__feature__info__title
  font-family: "Open Sans", sans-serif
  font-size: 18px
  font-weight: 700
  line-height: 24px
  text-transform: uppercase
//BLOCK-2


//BLOCK3
.block-3
  background: url("../img/acustic/Guitar_School_electro_pic3_2.jpg") no-repeat
  background-size: contain
  background-position: bottom center
  margin-bottom: 130px
.block-3__h2
  color: #5b5c5a
  font-family: "Minion Pro", sans-serif
  font-size: 50px
  font-weight: 400
  line-height: 59px
  text-transform: uppercase
  text-align: center
  margin-bottom: 90px
.block-3__lessons > div
  margin-bottom: 150px
.block-3__lessons__title
  color: #575a59
  font-family: "Minion Pro", sans-serif
  font-size: 22px
  font-weight: 400
  line-height: 59px
  text-transform: uppercase
  text-align: center
  &:after
    content: ' '
    display: block
    position: absolute
    width: 40px
    height: 1px
    background: #b8b8b8
    top: 26px
    right: -17px
.block-3__lessons > div:last-child
  .block-3__lessons__title
    &:after
      content: none
.block-3__lessons__info
  color: #5a5a58
  font-family: "Open Sans", sans-serif
  text-align: center
  font-size: 15px
  font-weight: 400
  line-height: 24px
.block-3__gallery
  margin-bottom: 150px
  .row > div
    margin-bottom: 22px
  img
    cursor: pointer
.block-3__video
  margin-bottom: -2px
  .block-3__h2
    margin-bottom: 55px
  img
    cursor: pointer
.block-3__video__title
  color: #000
  font-family: "Minion Pro", sans-serif
  font-size: 30px
  font-weight: 400
  line-height: 24px
  text-align: center
  text-transform: uppercase

//BLOCK3

//BLOCK4
.block-4
  margin-bottom: 180px
.block-4__h2
  color: #5b5c5a
  font-family: "Minion Pro", sans-serif
  font-size: 50px
  font-weight: 400
  line-height: 100px
  text-transform: uppercase
  text-align: center
  margin-bottom: 45px
.block-4__video
  img
    margin-bottom: 17px
    cursor: pointer
.block-4__video__info
  color: #5a5a58
  font-family: "Open Sans"
  font-size: 18px
  line-height: 24px
  // Text style for "Марина Ива"
  font-weight: 700
  text-align: center
  span
    font-weight: 400
//BLOCK4

//BLOCK5
.block-5
  background: url("../img/acustic/bl5-bg.jpg") no-repeat
  background-size: cover
  padding-bottom: 150px
  background-position-y: -180px
.block-5__h2
  color: #5b5c5a
  font-family: "Minion Pro", sans-serif
  font-size: 50px
  font-weight: 400
  line-height: 100px
  text-transform: uppercase
  text-align: center
  margin-bottom: 0
.block-5__p1,.block-5__p2
  color: #5a5a58
  font-family: "Open Sans", sans-serif
  font-size: 20px
  font-weight: 400
  line-height: 24px
  text-align: center
  margin-bottom: 20px
.block-5__p2
  margin-bottom: 50px
.price
  .price-item
    width: 416px
    background: url("../img/acustic/pattern1.jpg") no-repeat
    height: 575px
    margin: 0 auto
    box-shadow: 1px 1px 10px #000
    margin-bottom: 40px
.price-item__note
  padding-top: 67px
  margin-bottom: 50px
.price-item__title
  color: #ffffff
  font-family: "Minion Pro", sans-serif
  font-size: 30px
  font-weight: 700
  line-height: 36px
  text-transform: uppercase
  text-align: center
  margin-bottom: 20px
.price-item__worktime,.price-item__contime
  color: #ffffff
  font-family: "Open Sans", sans-serif
  font-size: 20px
  font-weight: 700
  line-height: 30px
  text-align: center
.price-item__contime
  margin-bottom: 30px
  line-height: 20px
.price-item__price
  color: #ffffff
  font-family: "Minion Pro", sans-serif
  font-size: 30px
  font-weight: 700
  line-height: 30px
  text-align: center
  margin-bottom: 33px
.price-item__btn
  width: 192px
  height: 53px
  border: none
  outline: none
  background: url("../img/acustic/price-item-btn.jpg") #f8ae15
  display: block
  margin: 0 auto

  color: #000000
  font-family: "Open Sans", sans-serif
  font-size: 15px
  font-weight: 700
  line-height: 24px
  text-transform: uppercase
.price-info
  color: #5a5a58
  font-family: "Open Sans", sans-serif
  font-size: 20px
  font-weight: 400
  line-height: 24px
  text-align: center
//BLOCK5

//BLOCK6
.block-6
  background: url("../img/acustic/Guitar_School_acustic_pic1.jpg") no-repeat
  background-size: cover
  padding-bottom: 80px
  margin-bottom: 120px
.block-6__h2
  margin-bottom: 100px
.block-6__name
  color: #5b5c5a
  font-family: "Minion Pro", sans-serif
  font-size: 30px
  font-weight: 400
  line-height: 30px
  margin-bottom: 20px
.block-6__position
  color: #5b5c5a
  font-family: "Open Sans", sans-serif
  font-size: 18px
  font-weight: 400
  line-height: 24px
  margin-bottom: 40px
.block-6__info
  color: #5b5c5a
  font-family: "Open Sans", sans-serif
  font-size: 14px
  font-weight: 400
  line-height: 19px
.teachers
  margin-bottom: 100px
  img
    cursor: pointer
//BLOCK6

//BLOCK7
.block-7
  margin-bottom: 50px
.carousel
  display: none
  .carousel-indicators
    bottom: -50px
    li
      background: #fbb436
    .active
      background: transparent
      border: 1px solid #fbb436
.reviews__all
  > div
    margin-bottom: 150px
  button
    width: 217px
    height: 53px
.review-text
  color: #5b5c5a
  font-family: "Open Sans", sans-serif
  font-size: 20px
  font-weight: 400
  line-height: 24px
.review-author
  color: #5b5c5a
  font-family: "Open Sans", sans-serif
  font-size: 20px
  font-weight: 700
  line-height: 36px
  margin-bottom: 50px
//BLOCK7

.footer
  background: url("../img/acustic/Guitar_School_acustic_pic2.jpg") no-repeat
  background-size: cover
  min-height: 100vh
  h2
    text-align: left
    padding: 0
    margin: 0
  p
    color: #5b5c5a
    font-family: "Open Sans", sans-serif
    font-size: 19px
    font-weight: 400
    line-height: 24px
    padding: 0
    margin: 0
  .footer-phone
    margin-bottom: 100px
  .header--form
    input
      width: 382px
      display: block
      margin-bottom: 40px
      color: #5b5c5a
      font-family: "Open Sans", sans-serif
      font-size: 14px
      font-weight: 400
      line-height: 24px
    input[name="message"]
      margin-bottom: 20px
    .footer-btn
      color: #000
      background: transparent
      border: none
      font-family: "Open Sans", sans-serif
      font-size: 16px
      font-weight: 700
      line-height: 24px
      text-transform: uppercase
      padding: 0
  .social
    margin-top: 290px
    border-left: 1px solid #000
    padding-left: 30px
    li
      margin-bottom: 15px
      img
        width: 42px

//myModal
#myModal
  .modal-dialog
    width: 941px
  .modal-content
    height: 578px
    background: url("../img/acustic-bg-modal.jpg")
  .modal-header
    border: none
  .modal-h4
    color: #9e8860
    font-family: "Minion Pro", sans-serif
    font-size: 30px
    font-weight: 700
    line-height: 36px
    text-transform: uppercase
    text-align: center
    margin-bottom: 30px
  .modal-p
    color: #000000
    font-family: "Open Sans", sans-serif
    font-size: 18px
    text-align: center
    font-weight: 400
    line-height: 24px
    margin-bottom: 20px
  .header--form
    width: 252px
    margin: 0 auto
    input
      width: 100%
      display: block
      margin-bottom: 45px
    .footer-btn
      width: 227px
      height: 51px
      background-color: #ffb215
      background-image: linear-gradient(to left, #ffb215 0%, #fbe4b4 100%)
      opacity: 0.86

      border: none

      color: #000000
      font-family: "Open Sans", sans-serif
      font-size: 16px
      font-weight: 700
      line-height: 24px
      text-transform: uppercase
//myModal

.children
  .header
    background: url("../img/children/Guitar_School_children.jpg") no-repeat
    background-size: contain
  .menu-icons__1
    left: 2px
  .menu-icons__2
    left: 8px
  .menu-icons__3
    left: -10px
  #myModal .modal-content
    background: url("../img/children-bg-modal.jpg")

.vocal
  .header
    background: url("../img/vocal/header-bg.jpg") no-repeat
    background-size: contain
  #block-2-fimg2
    top: -70px
    left: 100px
  .footer
    background: url("../img/vocal/footer-bg.jpg") no-repeat
    padding-bottom: 800px
    background-position-y: 300px
  .menu-icons__2
    //left: -12px
  .menu-icons__1
    left: 4px
  #myModal .modal-content
    background: url("../img/vocal/vocal-bg-modal.jpg")
  .block-2
    background: none !important
    padding-bottom: 0 !important
  .block-3
    background-position: bottom center
  .block-3__gallery img
    padding-top: 18px
    margin-bottom: -22px
  .block-5
    background: url("../img/vocal/price.jpg") no-repeat
    background-size: contain !important
    background-position: center center !important

  .block-6
    background: url("../img/vocal/teachers.jpg") no-repeat
    background-position: center center !important
    background-position-y: 135px !important
    background-position-x: 150px !important
    background-size: cover

.electro
  .header
    background: url("../img/electro/Guitar_School_electro_pic1_2.jpg") no-repeat
    background-size: contain
  #myModal .modal-content
    background: url("../img/electro/electro-bg-modal.jpg")
  .block-3__gallery .row > div
    margin-bottom: -5px
  .block-5
    background: url("../img/electro/electro_price.jpg") no-repeat
    background-position: center center
    background-size: cover
    padding-bottom: 0
  .block-7
    margin-bottom: 150px
  .block-6
    background: url("../img/electro/electro_pc.jpg") no-repeat
    background-position: center center
    background-size: cover
    background-position-x: 120px
    background-position-y: 100px
    padding-bottom: 200px
    .container
      padding-top: 150px
  .teachers p
    margin-left: -10px
  .review-text
    margin-top: 50px
  .footer
    //background: url("../img/electro/Guitar_School_electro_pic5.jpg") no-repeat
    //padding-left: 0
    padding-bottom: 0px !important
    //background-position-x: 0 !important
    //min-height: auto
    padding-left: 0 !important
    background: none !important
    form
      margin-bottom: 0px
    .footerbg
      margin: 0 auto
  #block-2-fimg2
    top: -32px
  .block-2
    background: url("../img/electro/Guitar_School_electro_pic2.jpg") no-repeat
    background-size: contain
    background-position: center center
    background-position-y: 500px
    padding-bottom: 600px
  .block-2__feature___item:first-child
    margin-bottom: 100px
  .block-5
    margin-top: -150px
    padding-top: 150px
  .block-3__gallery img
    padding-top: 18px
    margin-bottom: 5px
  .menu-icons__1
    left: -15px