/* Large Devices, Wide Screens */
@media only screen and (max-width : 2650px)
  .acustic
    .block-3
      background-position-x: 0
    .block-5
      padding-bottom: 550px
  .electro
    .block-2
      background-position-y: 100px

@media only screen and (max-width : 2350px)
  .acustic
    .block-3
      background-position-x: 0
  .electro
    .block-2
      background-position-y: 500px
@media only screen and (max-width : 2100px)
  .acustic
    .block-5
      padding-bottom: 150px
@media only screen and (max-width : 1450px)
  .header
    background-position-x: 0px
  .header-h1
    font-size: 32px
    line-height: 36px
@media only screen and (max-width : 1440px)
  .acustic
    .block-2
      padding-bottom: 400px
    .block-3
      background: url("../img/acustic/bg3-1440.jpg") no-repeat
      background-position: bottom center
    .block-5
      background-position-y: -90px
    .block-6
      -ms-background-position-x:
      background-position-x: -150px
  .electro
    .block-2
      padding-bottom: 500px
    .block-6
      background-position-x: 150px

@media only screen and (max-width : 1024px)
  .acustic
    .header
      min-height: auto
      margin-bottom: 100px
    .block-3
      background: url("../img/acustic/bg3-1024.jpg") no-repeat
      background-position: bottom center
      -ms-background-position-x: -60px
      background-position-x: -91px
    .phone-icon
      right: -60px
    .menu-icons
      margin-bottom: 100px
    .block-2
      padding-bottom: 350px
    .teachers img
      margin-top: 50px
    .block-3__lessons > div
      margin-bottom: 100px
    .footer
      background-position-x: -200px
    .block-2__feature___item img
      left: 20px
    #block-2-fimg1

    #block-2-fimg2

    #block-2-fimg3
      top: 5px
    #block-2-fimg4
      top: -21px
    .block-5
      background-position-y: -15px
      background-position-x: -200px
  .electro
    .footer
      background: url("../img/electro/Guitar_School_electro_pic5.jpg") no-repeat
      background-size: contain
      padding-bottom: 200px
      background-position-y: 350px
    .block-2
      background-position-y: 600px
      padding-bottom: 600px
    .block-6
      .container
      .block-6__h2
        margin-bottom: 50px
  .electro .block-6 .container
    padding-top: 0
@media only screen and (max-width : 1199px)
  .header-h1
    font-size: 28px
    line-height: 32px
@media only screen and (max-width : 991px)
  .header-h1
    font-size: 22px
    line-height: 32px
  .acustic
    .block-2__feature___item img
      left: 15px
    #block-2-fimg1

    #block-2-fimg2
      top: -22px
    #block-2-fimg3
      top: 5px
    #block-2-fimg4
      top: -2px
  .electro
    #block-2-fimg1
      left: 50%
    #block-2-fimg2
      top: -32px
      left: 50%
    #block-2-fimg3
      top: 0px
      left: 50%
    .footer
      background: url("../img/electro/Guitar_School_electro_pic5.jpg") no-repeat
      background-size: contain
      padding-bottom: 550px
      background-position-y: 650px
@media only screen and (max-width : 1200px)
  .footer .header--form input
    width: 90%
  .top-header .nav li a
    font-size: 15px
  .phone-icon img
    width: 60%
  .block-3__lessons > div:nth-child(3)
    .block-3__lessons__title
      &:after
        content: none
  .block-3__lessons__title
    font-size: 22px
  .block-3__lessons__info
    margin: 0 auto
    font-size: 14px
    line-height: 22px
/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
  .fixed
    position: static
  #myModal
    .modal-dialog
      width: 95%
      margin: 0 auto
      margin-top: 50px
    .modal-content
      background: url("../img/modal-bg-rep.jpg") !important
      height: auto
      padding-bottom: 50px
      background-position-x: -150px
  .top-header
    padding-top: 20px
    .logo
      float: left
  .top-header__phone
    text-align: center
    margin-bottom: 25px
    font-size: 18px
    color: #606060
  .header
    margin-bottom: 100px
  .block-2__h2,.block-4__h2
    font-size: 26px
    line-height: 0
  .block-2__feature___item img
    left: 300px
  .block-3
  .block-3__video .block-3__h2
    font-size: 32px
  .block-3__video__title
    font-size: 24px
  .block-4
    margin-bottom: 50px
  .block-5
    padding-bottom: 100px
    background-position: center center
    .price .price-item
      width: 100%
  .block-6
    margin: 0
    padding: 0
  .block-6__h2
    margin-bottom: 50px
  .teachers img
    margin: 0 auto
    margin-bottom: 20px
  .block-6__name,.block-6__position,.block-6__info
    text-align: center
  .block-7
    img
      display: block
      margin: 0 auto
      margin-bottom: 50px
  .review-author
    text-align: center
  .reviews__all > div
    margin-bottom: 50px
  .reviews button
    display: block
    margin: 0 auto
  .footer .social
    margin-top: 50px
    li
      display: inline-block
      margin-right: 10px
  .vocal .footer
    padding-bottom: 0
@media (min-width: 768px) and (max-width: 991px)
  .navbar-collapse.collapse
    display: none !important
    &.in
      display: block !important
  .navbar-header .collapse, .navbar-toggle
    display: block !important
  .navbar-header
    float: none
  .top-header__phone
    float: left
    margin: 0
    margin-top: -15px
    margin-bottom: 15px
  .top-header .navbar-toggle
    margin-top: 20px
  .navbar-nav
    float: none
    margin-bottom: 40px
    > li
      float: none
      > a
        padding-top: 10px
        padding-bottom: 10px
  
/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
  .block-3__video .block-3__h2
    margin-bottom: 25px
  .top-header
    display: block
  .children
    .header
      background-size: contain
      background-repeat: no-repeat
      background-position: 0 0
  .phone-icon
    //display: none
    top: 110px
    right: -70px
  .block-2
    padding-bottom: 200px
    
  .block-3__gallery
    margin-bottom: 0
  .block-3__video
    .col-sm-6
      width: 100%
      .block-3__video__title
        margin: 20px 0
      img
        display: block
        margin: 0 auto
  .block-5
    .price .price-item
      width: 335px
  .block-6__name, .block-6__position, .block-6__info
    text-align: center
  .acustic
    .header
      min-height: auto
  .header-h1
    font-size: 22px
    line-height: 28px
  .header-h2
    font-size: 16px
    line-height: 26px
  .block-3
    -ms-background-position-x: -50px
    background-position-x: -50px
  .block-3__gallery .row > div:last-child
    margin-bottom: 0
  .block-3__lessons > div
    margin-bottom: 80px
  .block-3__lessons__title
    font-size: 26px
  .block-3__lessons__info
    font-size: 14px
    width: auto
  .price .price-item
    width: auto
  .price-item__note
    max-width: 100%
  .teachers
    padding: 0
  .acustic
    .header
      background: url("../img/acustic/header-bg_tablet.jpg") no-repeat
    .header-h1
      font-size: 28px
      line-height: 38px
    .header-h2
      font-size: 18px
    .header--form input
      width: 30%
    .footer
      background-position-x: -220px
      min-height: auto
      .social
        border: none
    .teachers img
      margin-top: 80px
    .footer .header--form input
      width: 50%
    .block-2__feature p.info
      line-height: 24px
    .block-2__feature___item img
      left: 10px
      top: -35px
      max-width: 90%
    #block-2-fimg1
      left: 35px
    #block-2-fimg2
      top: -17px
    #block-2-fimg3
      top: 14px
    #block-2-fimg4
      top: 1px

    .block-2__feature___item ul li
      font-size: 16px
  .children
    .header
      background: url("../img/children/768_child_1.jpg") no-repeat
    .block-4
      .container
        padding: 0
  .electro
    .header
      background: url("../img/electro/768_electro_proporc.jpg") no-repeat
    .block-2
      background-position-y: 650px
    .block-5
      background: url("../img/electro/768_electro3.jpg") no-repeat
      margin-bottom: 20px
    .block-6
      padding: 0
    .footer
      padding-bottom: 400px
      background-position-y: 800px
    #block-2-fimg1
      left: 45%
    #block-2-fimg2
      top: -32px
      left: 45%
    #block-2-fimg3
      top: 0px
      left: 45%
  .vocal
    .header
      background: url("../img/vocal/768_vocal_1.jpg") no-repeat
    .block-5
      background: url("../img/vocal/768_vocal_3.jpg") no-repeat
      background-size: contain
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 767px)
  .price .price-item
    width: 50%
  .top-header .logo
    display: inline
    float: left
  .top-header__phone
    font-size: 26px
    a
      color: #000
  .navbar-header
    margin-top: 30px
  .phone-icon
    top: 185px
    right: -60px
  .block-2__feature
    margin-bottom: 30px
  .block-3__gallery
    margin-bottom: 30px
  .footer
    padding-left: 50px
  .block-3__lessons__title
    position: relative
    &:after
      width: 15%
    &:before
      content: ' '
      display: block
      position: absolute
      height: 1px
      background: #b8b8b8
      top: 26px
      left: -17px
      width: 15%
  .block-3__lessons > div:nth-child(3),.block-3__lessons > div:last-child
    .block-3__lessons__title
      &:after
        content: ' '
  .block-3__gallery img
    display: block
    margin: 0 auto
  .block-6__name, .block-6__position, .block-6__info
    text-align: center
  .block-5
    background: none

  .carousel
    display: block
  .reviews__all,.all_video
    display: none
  .acustic
    .header
      background: url("../img/acustic/acustic_767_.jpg") no-repeat
    .block-2__feature___item img
      left: 25%
    #block-2-fimg1
      left: 30%
      top: -34px
    #block-2-fimg2
      left: 30%
      top: -34px
    #block-2-fimg3
      top: 0px
    #block-2-fimg4
      top: -20px
    .block-3__lessons__title
      font-size: 28px
    .block-3__lessons__info
      font-size: 16px
      line-height: 22px
    .carousel-inner>.item>a>img, .carousel-inner>.item>img
      margin: 0 auto
    .block-6__info
      font-size: 16px
      line-height: 22px

  .children
    .header
      background: url("../img/children/767_children.jpg") no-repeat
  .vocal
    .header
      background: url("../img/vocal/767_vocal.jpg") no-repeat
  .electro
    .header
      background: url("../img/electro/767_electro-1.jpg") no-repeat
    .footer
      background: url("../img/electro/Guitar_School_electro_pic5.jpg") no-repeat
      padding-bottom: 400px
      background-position-y: 600px
    #block-2-fimg3
      left: 220px
/* Custom, iPhone Retina */ 
@media only screen and (max-width : 640px)
  .price-item__note
   max-width: 100%
  .acustic
    .phone-icon
      right: -121px
      img
        width: 35%
  .header
    background-size: cover
    background-position-y: -70px
    background-position-x: -50px
    margin-bottom: 0
  .menu-icons
    margin-bottom: 80px
  .header-h1
    font-size: 22px
    line-height: 24px
  .header-h2
    font-size: 18px
    line-height: 24px
  .header--form input
    width: 90%
  .header--form__btn
    display: block
    margin: 0 auto
  .block-2__h2, .block-4__h2,.block-3__h2,.block-5__h2,.block-6__h2
    font-size: 32px
    line-height: 36px
  .block-2
    padding-bottom: 70px
  .block-3
    margin-bottom: 50px
  .block-3__lessons > div
    margin-bottom: 40px
  .block-3__video__title
    font-size: 28px
    line-height: 36px
    padding: 0
    margin: 40px 0
  .block-4__video__info
    margin-bottom: 20px
  .block-5__h2
    margin-bottom: 20px

  .price .price-item
    width: 98%
  .footer p
    font-size: 14px
  .block-2__feature img
    max-width: 100%
  .price .price-item
    width: 68%
  .block-2
    .col-xs-3
      width: 100%
  .block-2__feature__info__title
    text-align: center
  .block-2__h2, .block-4__h2, .block-3__h2, .block-5__h2, .block-6__h2
    font-size: 24px
    font-weight: 700
  .block-3__lessons__title
    font-size: 22px
  .block-3__video__title
    font-size: 17px
    line-height: 24px
    margin-bottom: 30px
    margin-top: 50px
  .block-6__name, .block-6__position, .block-6__info
    text-align: center
  .block-7 h2
    font-size: 24px
    font-weight: 700
  .reviews__all > div
    margin-bottom: 0
  .navbar-toggle
    margin-right: -15px
  .navbar-nav
    margin-bottom: 25px
  .top-header__phone
    float: left
    margin-top: -15px
    a
      font-size: 18px
      color: #606060
  .menu-icons a
    margin-right: 33px
  .electro .block-2
    -ms-background-position-y: 750px
    background-position-y: 750px


@media only screen and (max-width : 736px)
  //.acustic
  //  .header
  //    background: url("../img/acustic/header-bg_tablet736.jpg") no-repeat
@media only screen and (max-width : 678px)
  //.acustic
  //  .header
  //    background: url("../img/acustic/123123.jpg") no-repeat
@media only screen and (max-width : 677px)
  .acustic
    .header
      background: url("../img/acustic/Guitar_plays_acustic_677.jpg") no-repeat
      background-position: center center
      background-position-y: -170px
    .header-h1
      text-align: center
    .header-h2
      margin-bottom: 490px
      text-align: center
    .menu-icons
      width: 285px
      margin: 0 auto
      margin-bottom: 90px
    .carousel-inner>.item>a>img, .carousel-inner>.item>img
      margin: 0 auto
    .header--form
      width: 80%
      margin: 0 auto
      input
        width: 100%
    .block-2
      padding-bottom: 240px
    .block-2__feature
      margin-bottom: 50px
    .block-2__feature___item img
      left: 100px
    #block-2-fimg1
      left: 130px
      top: -50px
    #block-2-fimg2
      left: 140px
      top: -37px
    #block-2-fimg3
      top: 2px
    #block-2-fimg4
      top: -19px
    .block-2__feature___item hr
      margin-bottom: 55px
    .block-3__lessons > div
      margin-bottom: 50px
    .footer
      background: url("../img/acustic/Guitar_plays_acustic_677_2.jpg") no-repeat
      background-position: bottom center
  .children
    .header
      background: url("../img/children/Guitar_plays_children_677.jpg") no-repeat
      background-position: center center
      background-position-y: -160px

  .electro
    .header
      background: url("../img/electro/electro_677.jpg") no-repeat
      background-position: center center
      background-position-y: -130px
    .header-h2
      margin-bottom: 620px
    .footer
      background: url("../img/electro/Guitar_School_electro_pic5.jpg") no-repeat
      background-size: contain
      -ms-background-position-y: 500px
      background-position-y: 700px
    #block-2-fimg3
      left: 140px
    #block-2-fimg2
      top: -31px

  .vocal
    .header
      background: url("../img/vocal/Guitar_plays_vocal_677.jpg") no-repeat
      background-position: center center
      background-position-y: -140px
    .header-h2
      margin-bottom: 600px
@media only screen and (max-width : 515px)
  .acustic
    #block-2-fimg1
      left: 50px
    #block-2-fimg2,#block-2-fimg3,#block-2-fimg4
      left: 50px
@media only screen and (max-width : 450px)
  .acustic
    .header-h1
      line-height: 28px
    .header-h2
      font-size: 16px
@media only screen and (max-width : 425px)
  .price .price-item
    width: 98%
  .carousel-inner>.item>a>img, .carousel-inner>.item>img
    display: block
    margin: 0 auto
  .menu-icons
    width: 285px
    margin: 0 auto
    margin-bottom: 80px
  .block-2__feature p.info
    font-size: 14px
    line-height: 16px
  .phone-icon
    right: -125px
    top: 445px
    img
      width: 30%
  .header
    margin-bottom: 30px
  .block-2__feature___item img
    left: 15px
  .price-item__title
    font-size: 26px
  .footer
    padding: 0
    .social
      display: flex
      justify-content: center
  .review-text
    font-size: 14px
  .block-3__gallery
    width: 100%
    height: auto
  .footer p
    font-size: 13px
  #myModal .modal-h4
    font-size: 22px
    line-height: 26px
  .header-h2
    margin-bottom: 400px
    padding-bottom: 250px
  .block-7
    margin-bottom: 50px
  .footer h2
    font-size: 24px
    line-height: 59px
    font-weight: 700
    text-align: center
  .footer p
    color: #5b5c5a
    font-family: "Open Sans", sans-serif
    font-size: 20px
    font-weight: 400
    line-height: 24px
    text-align: center
    margin-bottom: 10px
  .footer .social
    border: none
  .top-header__phone
    a
      font-size: 24px
  .navbar-toggle
    margin-top: -15px
  .price-item__note
    padding: 0
  .price .price-item
    height: auto
    padding: 40px 0

  .acustic
    .header
      background: url("../img/acustic/Guitar_plays_acustic2_425.jpg") no-repeat
      background-position: top center
      background-position-y: -220px
    .block-2
      background: url("../img/acustic/bl2-bg-320.jpg") no-repeat
      background-position: 0 2620px
      padding-bottom: 210px
    #block-2-fimg3
      left: 15px
    #block-2-fimg4
      left: 15px
    .menu-icons
      margin-bottom: 70px
    .header-h2
      margin-bottom: 490px
      padding-bottom: 0
    .teachers img
      margin-top: 0
    .footer
      background-position-x: -250px
      .social
        padding-left: 0
    .block-3
      padding-bottom: 100px
      background-position-y: 917px
    .block-3__lessons__info
      font-size: 16px
    .block-5 .price .price-item
      width: 100%
    #block-2-fimg1
      opacity: 0.5
      left: 50px
    #block-2-fimg2
      top: -37px
      left: 15px
    #block-2-fimg3
      top: 5px
    .block-2__feature p.info
      font-size: 22px
      line-height: 26px
    .block-2__feature__info
      margin-top: 50px
    .block-3__video__title
      color: #000
      font-weight: 600
    #carousel-example-generic3
      margin-bottom: 50px
    .header--form input
      width: 90%
    .block-2__feature___item img
      left: 15px
      max-width: 100%
    #block-2-fimg3
    #block-2-fimg4
      top: -18px
    .header-h1
      font-size: 22px
      line-height: 24px
    .block-3__video__title
      font-size: 24px
    #carousel-example-generic3
      .item img
        height: 423px
  .children
    .header
      background: url("../img/children/child_425.jpg") no-repeat
      background-position: center center
      background-position-y: -240px

  .vocal
    .header
      background: url("../img/vocal/Guitar_plays_vocal_425.jpg") no-repeat
      background-position: center center
      background-position-y: 300px
    .header-h1
      line-height: 20px
    .header-h2
      margin-bottom: 430px


  .electro
    .header
      background: url("../img/electro/electro_425-1.jpg") no-repeat
      background-position-y: -250px
      margin-bottom: 20px
      padding-bottom: 0
    .footer
      background: url("../img/electro/footer_425.jpg") no-repeat
      background-position-y: 920px
      padding-bottom: 340px
    .block-2
      background: url("../img/electro/bl2-bg.jpg") no-repeat
      background-size: contain
      background-position-y: 800px
    #block-2-fimg2
      top: -32px
@media only screen and (max-width : 375px)
  .phone-icon
    top: 510px
  .acustic
    .header
      background: url("../img/acustic/Guitar_plays_acustic2_425.jpg") no-repeat
      background-position: top center
      background-position-y: -160px
    .block-2
      -ms-background-position-x:
      background-position-y: 2679px
    .header-h2
      margin-bottom: 470px
    #block-2-fimg4,#block-2-fimg3
      left: 0
    .footer
    .block-3
      background-position-y: 879px
    .block-3__video__title
      font-size: 22px
    #carousel-example-generic3
      .item img
        height: 375px
  .children
    .header
      background: url("../img/children/child_425.jpg") no-repeat
      background-position-y: -140px
      background-position-x: -30px
  .electro
    .header
      background: url("../img/electro/electro_425-1.jpg") no-repeat
      background-position: center center
      background-position-y: -180px
    .block-2
      background: url("../img/electro/bl2-bg.jpg") no-repeat
      background-size: contain
      background-position-y: 890px
  .vocal
    .header
      background: url("../img/vocal/Guitar_plays_vocal_425.jpg") no-repeat
      background-position: center center
      background-position-y: 360px
@media only screen and (max-width : 320px)
  .acustic
    .header
      background-position-y: -140px
    .block-2
      background-position: bottom center
    .footer
      background-position-x: -310px
    .header-h2
      margin-bottom: 425px
    .block-2__feature___item img
      left: 0
    .block-3
      background-position-y: 756px
    #block-2-fimg4
      top: -10px
    .block-3__video__title
      font-size: 19px
    #carousel-example-generic3
      .item img
        height: 314px

  .children
    .header
      background: url("../img/children/child_425.jpg") no-repeat
      background-position: center center
      background-position-y: -140px
  .electro
    .header
      background: url("../img/electro/electro_425-1.jpg") no-repeat
      background-position: center center
      background-position-y: -140px
    .block-2
      background: url("../img/electro/bl2-bg.jpg") no-repeat
      background-size: contain
      background-position-y: 950px
    .footer
      background-position-x: 0
  .vocal
    .header
      background: url("../img/vocal/Guitar_plays_vocal_425.jpg") no-repeat
      background-position: center center
      background-position-y: 380px