/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
  .footer .header--form input
    width: 90%
  .top-header .nav li a
    font-size: 15px
  .phone-icon img
    width: 60%
  .block-3__lessons > div:nth-child(3)
    .block-3__lessons__title
      &:after
        content: none
  .block-3__lessons__title
    font-size: 30px
  .block-3__lessons__info
    width: 256px
    margin: 0 auto
    font-size: 18px
/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
  .fixed
    position: static
  #myModal
    .modal-dialog
      width: 95%
      margin: 0 auto
      margin-top: 50px
    .modal-content
      background: url("../img/modal-bg-rep.jpg")
      height: auto
      padding-bottom: 50px
      background-position-x: -150px
  .top-header
    padding-top: 20px
    .logo
      float: left
  .top-header__phone
    text-align: center
    margin-bottom: 25px
    font-size: 18px
    color: #606060
  .header
    margin-bottom: 100px
  .block-2__h2,.block-4__h2
    font-size: 26px
    line-height: 0
  .block-2__feature___item img
    left: 300px
  .block-3
    background-position-x: -270px
  .block-3__video .block-3__h2
    font-size: 32px
  .block-3__video__title
    font-size: 24px
  .block-4
    margin-bottom: 50px
  .block-5
    padding-bottom: 100px
    background-position: center center
  .block-6
    margin: 0
    padding: 0
  .block-6__h2
    margin-bottom: 50px
  .teachers img
    margin: 0 auto
    margin-bottom: 20px
  .block-6__name,.block-6__position,.block-6__info
    text-align: center
  .block-7
    img
      display: block
      margin: 0 auto
      margin-bottom: 50px
  .review-author
    text-align: center
  .reviews > div
    margin-bottom: 50px
  .reviews button
    display: block
    margin: 0 auto
  .footer .social
    margin-top: 50px
    li
      display: inline-block
      margin-right: 10px

@media (min-width: 768px) and (max-width: 991px)
  .navbar-collapse.collapse
    display: none !important
    &.in
      display: block !important
  .navbar-header .collapse, .navbar-toggle
    display: block !important
  .navbar-header
    float: none
  .top-header__phone
    float: left
    margin: 0
    margin-top: -15px
    margin-bottom: 15px
  .top-header .navbar-toggle
    margin-top: 20px
  .navbar-nav
    float: none
    margin-bottom: 40px
    > li
      float: none
      > a
        padding-top: 10px
        padding-bottom: 10px
  
/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
  .block-3__video .block-3__h2
    margin-bottom: 25px
  .top-header
    display: block
  .children
    .header
      background-size: contain
      background-repeat: no-repeat
      background-position: 0 0
  .phone-icon
    display: none
  .block-2
    padding-bottom: 200px
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 767px)
  .top-header .logo
    display: inline
    float: left
  .top-header__phone
    font-size: 26px
    a
      color: #000
  .navbar-header
    margin-top: 30px
  .phone-icon
    right: -60px
  .block-2__feature
    margin-bottom: 30px
  .block-3__gallery
    margin-bottom: 30px
  .footer
    padding-left: 50px
  .block-3__lessons__title
    position: relative
    &:after
      width: 15%
    &:before
      content: ' '
      display: block
      position: absolute
      height: 1px
      background: #b8b8b8
      top: 26px
      left: -17px
      width: 15%
  .block-3__lessons > div:nth-child(3),.block-3__lessons > div:last-child
    .block-3__lessons__title
      &:after
        content: ' '
  .block-3__gallery img
    display: block
    margin: 0 auto
/* Custom, iPhone Retina */ 
@media only screen and (max-width : 640px)
  .price-item__note
   max-width: 100%
  .phone-icon
    top: auto
    bottom: 20px
    left: 20px
    img
      width: 20%
  .header
    background-size: cover
    background-position-y: -70px
    background-position-x: -50px
    margin-bottom: 0
  .menu-icons
    margin-bottom: 80px
  .header-h1
    font-size: 22px
    line-height: 24px
  .header-h2
    font-size: 18px
    line-height: 24px
  .header--form input
    width: 90%
  .header--form__btn
    display: block
    margin: 0 auto
  .block-2__h2, .block-4__h2,.block-3__h2,.block-5__h2,.block-6__h2
    font-size: 32px
    line-height: 36px
  .block-2
    padding-bottom: 70px
  .block-3
    margin-bottom: 50px
  .block-3__lessons > div
    margin-bottom: 40px
  .block-3__video__title
    font-size: 28px
    line-height: 36px
    padding: 0
    margin: 40px 0
  .block-4__video__info
    margin-bottom: 20px
  .block-5__h2
    margin-bottom: 20px

  .price .price-item
    width: 98%
  .footer p
    font-size: 14px
  .block-2__feature img
    max-width: 100%
  .price .price-item
    width: 68%
  .block-2
    .col-xs-3
      width: 100%
  .block-2__feature__info__title
    text-align: center
  .block-2__h2, .block-4__h2, .block-3__h2, .block-5__h2, .block-6__h2
    font-size: 24px
    font-weight: 700
  .block-3__lessons__title
    font-size: 22px
  .block-3__video__title
    font-size: 17px
    line-height: 24px
    margin-bottom: 30px
    margin-top: 50px
  .block-6__name, .block-6__position, .block-6__info
    text-align: left
  .block-7 h2
    font-size: 24px
    font-weight: 700
  .footer .header--form .footer-btn
    text-align: center
    display: block
    margin: 0 auto
  .reviews > div
    margin-bottom: 0
  .navbar-toggle
    margin-right: -15px
  .navbar-nav
    margin-bottom: 25px
  .top-header__phone
    float: left
    margin-top: -15px
    a
      font-size: 18px
      color: #606060
  .menu-icons a
    margin-right: 33px
@media only screen and (max-width : 425px)
  .price .price-item
    width: 98%
@media only screen and (max-width : 320px)
  .block-2__feature p.info
    font-size: 14px
    line-height: 16px
  .header
    margin-bottom: 30px
  .block-2__feature___item img
    left: 15px
  .price-item__title
    font-size: 26px
  .footer
    padding: 0
  .review-text
    font-size: 14px
  .block-3__gallery
    width: 100%
    height: auto
  .footer p
    font-size: 13px
  #myModal .modal-h4
    font-size: 22px
    line-height: 26px
  .header-h2
    margin-bottom: 400px
  .header
    background: url("../img/acustic/bg-320.jpg") no-repeat
  .block-2
    background: url("../img/acustic/bl2-bg-320.jpg") no-repeat
    background-position: 0 2650px
    padding-bottom: 250px
  .block-7
    margin-bottom: 50px
  .footer h2
    font-size: 24px
    line-height: 59px
    font-weight: 700
    text-align: center
  .footer p
    color: #5b5c5a
    font-family: "Open Sans", sans-serif
    font-size: 20px
    font-weight: 400
    line-height: 24px
    text-align: center
    margin-bottom: 10px
  .footer .social
    border: none
  .top-header__phone
    a
      font-size: 24px
  .navbar-toggle
    margin-top: -15px


  .children
    .header
      background: url("../img/children/bg-320.jpg") no-repeat